@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');

@font-face {
    font-family: "AreaKilometer50";
    src: url("fonts/AreaKilometer50.ttf") format("truetype"), url("fonts/AreaKilometer50-gxmEq.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Atmospheric";
    src: url("fonts/Atmospheric-rg4aL.ttf") format("truetype"), url("fonts/Atmospheric-YzMG4.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    background: #1a1e24;
    color: whitesmoke;
    font-family: Noto Sans;
    width: 100vw;
    height: 100vh;
    margin: 0;
    flex-flow: column;
    display:flex;
}

.plchlder{
    text-align: center;
    font-family: Atmospheric;
    font-size: 100px;
    font-weight: 70;
}

.websiteContainer{
    margin: 0;
    display: flex;
    flex:1;
}

h1{
    font-family: Atmospheric;
    margin:10px auto 0;
    font-size: 4vw;
}