@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');

@font-face {
    font-family: "AreaKilometer50";
    src: url("fonts/AreaKilometer50.ttf") format("truetype"), url("fonts/AreaKilometer50-gxmEq.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Atmospheric";
    src: url("fonts/Atmospheric-rg4aL.ttf") format("truetype"), url("fonts/Atmospheric-YzMG4.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    background: #1a1e24;
    color: whitesmoke;
    font-family: Noto Sans;
    width: max(100vw, 100%);
    height: 100vh;
    height: 100svh;
    margin: 0;
    flex-flow: column;
    display:flex;
    justify-content: flex-start;
}

.home{
    text-align: center;
    width: 100vw;
    height: 6vh;
    height: 6svh;
    background: rgb(36, 36, 36);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: Atmospheric;
    font-size: 1.5vw;
}

.home-option, .home-icon, .home-motto{
    margin: 0;
    padding: 0;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inherit;
    color: inherit; 
    text-decoration: none;
}

.home-motto{
    margin-left: auto;
    margin-right: 1rem;
    font-family: Atmospheric;
    letter-spacing: .2rem;
}

.icon{
    width: 43px;
    height: 75%;
}
.home-icon:hover, .home-option:hover{
    cursor: pointer;
}

.home-icon {
    padding: 0 10px;
    margin: 0 10px;
}

.home-option{
    padding: 0px 20px;
}

.home-option:hover{
    background: #006400;
    border-radius: .2rem;
}

.break{
    flex-basis: 100%;
}
